/* Base */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #26282b;
  color: #fff;
}

p {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1rem;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Container */
.container {
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px 15px;
}

/* Header */
.header {
  margin-bottom: 40px;
}

.header .header__name {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
}

.header .header__role {
  font-weight: 300;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  margin-top: 5px;
}

/* Bio */
.bio .bio__link {
  color: #fff;
  background-color: rgba(61, 63, 68, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color .3s ease;
  font-weight: 600;
}

.bio .bio__link:hover {
  background-color: rgb(22, 23, 24, 1);
}

/* Social */
.social {
  display: flex;
  margin-top: 40px;
}

.social li:not(:first-child) { margin-left: 24px; }

.social a { transition: opacity .3s ease; }
.social a:hover { opacity: 0.8; }

.social .social--twitter { color: #1da1f2; }
.social .social--dribbble { color: #fa5092; }
.social .social--github { color: #fafafa; }
.social .social--linkedin { color: #0199e9; }
.social .social--codepen { color: #47cf73; }
.social .social--email { color: #fbbc05; }

/* Responsive */
@media (max-width: 576px) {
  .header .header__role {
    font-size: 1.3rem;
  }

  .social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .social li {
    margin: 0 !important;
  }
}